<ul style="list-style-type:none;">
    <li><img style="top-margin:20px;bottom-padding:0px;"height="80px" width="80px" src="../../public/img/dahome.jpeg" /></li>
    <li style="margin-left:25%;"><h1 style="display:inline;">Result Management System</h1></li>



</ul>
<hr />
<br /><br /><br /><br /><br />
<h1 align="center">Welcome to DAIICT</h1>