<html>
<head>
	<title>Add new Student</title>
</head>
<link rel="stylesheet" type="text/css" href="../.././css/addnewstudentnew.css">
<body>
	<img src="../.././img/dahome.jpeg" style="border-radius: 48%; margin-right: 85%; margin-top: 5%">
	<div class="content">
        <div class="info">
         	<h2 style="margin-top: -10%">Student Result MAnagement System</h2>
         	
        </div>
      </div>
<div class="container" id="container">
		<form action="/student/addnewstudent" method="post">
			<br>
            
			<h1>Add new Student</h1>
			<br>
			<input type="text" name="name" placeholder="Name" />
			<input type="text" name="rollno" placeholder="Roll No." />
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />

               <div class="form-group"> 
                        <label>Gender&emsp;&emsp;</label>
                        <select name="gender" style="border-radius: 5px;color: gray;">
                        <option selected value="male">Male</option>
                        <option value="semale">Female</option>
                        </select>
                    </div>
                    <br>
           				<div class="form-group"> 
                        <label>Select Branch&emsp;&emsp;</label>
                        <select name="branch" style="border-radius: 5px;color: gray;">
                        <option selected value="mscit">MSc.IT</option>
                        <option value="btech">B.Tech</option>
                        <option value="mtech">M.Tech</option>
                        </select>
                    </div>
                    <br>
                    <div> 
                        <label>Select Semester &emsp;&emsp;</label>
                        <select name="sem" style="border-radius: 5px;color: gray;">
                        <option selected value="1">I</option>
                        <option value="2">II</option>
                        <option value="3">III</option>
                        <option value="4">IV</option>
                        </select>
                    </div>
			<input type="phone" name="phone" placeholder="Phone no" />
			<button>Add</button>
		</form>

	
</div>


</body>
<script>
	
</script>
</html>