<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{
  			font-family:sans-serif;
  			background: rgb(191,255,240);
        background: linear-gradient(90deg, rgba(191,255,240,1) 0%, rgba(240,255,194,1) 35%, rgba(255,228,192,1) 100%);
  		}
      td{
        padding:10px;
      }
      table{
        text-align: center;
      }
      thead, tfoot{
        font-weight:bold;
      }
      button{
  			width: 120px;
  			height:40px;
  			border-radius:10px;
  			background-color: #f0ffc2;
  		}
      #div1{
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        margin-top: 60px;
      }
    </style>
  </head>
  <body>
    <ul style="list-style-type:none;">
			<li><img style="top-margin:30px;bottom-padding:0px;"height="80px" width="80px" src="./img/dahome.jpeg" /></li>
			<li style="top-margin:5px;margin-left:25%;"><h1 style="display:inline;">Result Management System</h1></li>

      

		</ul>
    
    <hr>
    <br>
    
    <table align="center">
      <tr>
        <td><button onclick="window.location.href='admin/managestudent'">Manage Student</button> </td>
        <td><button onclick="window.location.href='manageresult.html'">Manage Result</button> </td>
        <td><button onclick="window.location.href='addannouncement.html'">Add Announcement</button>  </td>
        <td><button onclick="window.location.href='Home.html'">Log Out</button></td>
      </tr>
    </table>
    <% if(errorMessage) { %>
      <p class="error"> <%= errorMessage %> </p>
      <% } %>
     <div id="div1">Welcome To Daiict Student.....</div>


  </body>
</html>
