<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home</title>
    <!-- <link rel="stylesheet" href="home_style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
 	</head>
 <link rel="stylesheet" type="text/css" href="../.././css/adminhomenew.css">
  	<body>

    <section>
      <header>
        
        <h2><script src="https://cdn.lordicon.com/lusqsztk.js"></script>
<img src="../.././img/dahome.jpeg" style="border-radius: 48%"></h2>
        <div class="navigation">
         	<a href="/student/managestudent">Manage Students</a>
             <a href="/student/addnewstudent">Add Student</a>
         	
          <a href="/student/addannouncement">Add Announcements </a>
          <a href="/student/manageannouncement">Manage Announcements </a>
          <a href="/student/adminlogout">Logout </a>
        </div>
     </header>
     <% if(message)  { %>
      <script>
               alert('<%= message %>');
      </script>
    <% } %>
      <div class="content">
        <div class="info" style="margin-top: 10%">
          <p>Welcome to </p>
         	<h2>Student Result Management System</h2>
         	
        </div>
      </div>
      <table style="margin-right: 13%; margin-top: 5%" >
        <tr align="center">
          <th>Address</th>
          <th>Contact Number</th>
          <th>Email Address</th>
        </tr>
  
        <tr align="center">
          <td>Reliance Cross Rd, Gandhinagar, Gujarat</td>
          <td>+(91) 8899889988</td>
          <td>DAIICT@gmail.com</td>
        </tr>
      </table>
     
     
    </section>
  </body>
</html>