<html>
<head>
	<title>Announcements</title>
</head>
<link rel="stylesheet" type="text/css" href="../.././css/announcementnew.css">
<body>
<img src="../.././img/dahome1.jpeg" style="border-radius: 48%; margin-right: 85%; margin-top: 5%">
	
	<div class="content" style="margin-top: -10%">
        <div class="info">
         	<h2>Student Result Management System</h2>
        </div>
    </div>
<div class="container" id="container">
		<form action="get" action="/student/announcement">
			<br>
            
			<h1 style="margin-top: -10%">Announcements</h1>

			<br>
			<label style="margin-top: 10%"><a href="#">Click here</a></label>
			

		</form>


	
</div>

<button style="margin-top: 3%"><a style="color: white" href="studenthomenew.html"> Home</a></button>
</body>
<script>
	
</script>
</html>