<!DOCTYPE html>
<html>
<head>
	<title>Result Management System</title>
	<style media="screen">
		body{
			font-family:sans-serif;
			background: rgb(191,255,240);
background: linear-gradient(90deg, rgba(191,255,240,1) 0%, rgba(240,255,194,1) 35%, rgba(255,228,192,1) 100%);
		}

		td{
			padding:10px;
		}

		li {
			display: inline;
		}

		th{
			padding: 95px;
			padding-bottom: 0;
			font-size:20px;
		}

		td{
			align-content: center;
			padding: 95px;
			padding-top: 5px;
			font-size:12px;
		}

		button{
			width: 120px;
			height:40px;
			border-radius:10px;
			background-color: #f0ffc2;
		}
	</style>
    
		

</head>
<body>
	<div id="main">
		<ul style="list-style-type:none;">
			
			<li><img style="top-margin:20px;bottom-padding:0px;" height="80px" width="80px" src="./img/dahome.jpeg" /></li>
			<li style="margin-left:25%;"><h1 style="display:inline;">Result Management System</h1></li>



		</ul>
		<hr />
		<br /><br /><br /><br /><br />
		<h1 align="center">Welcome to DAIICT</h1>

		

		<table align="center">
			<tr>
				<th>Address</th>
				<th>Contact Number</th>
				<th>Email Address</th>
			</tr>

			<tr>
				<td>Reliance Cross Rd, Gandhinagar, Gujarat</td>
				<td>+(91) 8899889988</td>
				<td>DAIICT@gmail.com</td>
			</tr>

			<tr>
				<td align="center" colspan="3">
					<Button onclick="window.location.href='login'">LogIn</Button>
					<br>
					<br>
					<Button onclick="window.location.href='signup'">Signup</Button>
					<button onclick="validate()">validate</button>
				</td>
		</tr>
		</table>
		

	</div>


	</div>
	<script src="./js/common.js"></script>
</body>
</html>
