<!DOCTYPE html>
<html>
<head>
	<title>Result Management System</title>
</head>
<body>
       
	<div id="main">
		<ul style="list-style-type:none;">
			<li style="display:inline;"><img style="top-margin:20px;bottom-padding:0px;"height="80px" width="80px" src="./img/dahome.jpeg" /></li>
			<li style="display:inline;margin-left:25%;"><h1 style="display:inline;">Result Management System</h1></li>
			<li style="display:inline;margin-left:90px;">
				
					<Button onclick="window.location.href='/'">Home</Button>
			</li>
		</ul>
		<hr />
		<br />
		
			
			
		
		<h1 align="center">Login</h1>
		<br /><br /><br /><br />
        
		
        
		<div style="text-align: center; font-size: 20px;">
			    <form action="/student/login" method="post">
				<label for="Username">Enter Username  </label>
				<input type="text" width="30%"  name="email" id="email"/>

				<br/>
				<br/>
				<label for="password">Enter Password  </label>
				<input type="password" name="password" id="password"/>

				<br/>
				<br/>
				<Button style="height:40px;">Log in</Button>
				<br/>
				<br/>
			     </form>
			
		</div>

		<!-- <table>
			<tr>
				<td><font size="">Address</font></td>
				<td>Contact Number</td>
				<td>Email Address</td>
			</tr>
		</table> -->
	</div>


	
</body>
</html>
