<html>
<head>
	<title>Login</title>
</head>
<link rel="stylesheet" type="text/css" href="../.././css/loginnew.css">
<body>
	<div class="content">
		<div class="info">
				<h2 style="margin-top: 2%">Student Result MAnagement System</h2>
		</div>
	</div>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		
	</div>
	<div class="form-container sign-in-container">
		<form action="/student/login" method="post">
			<h1>Log in</h1>
			
			<input type="email" name="email" placeholder="Email" />
			<input type="password"name="password"  placeholder="Password" />
			<button>Login</a></button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>Welcome</h1>
				<p>to<br><br>Student Result Management System</p>
			</div>
		</div>
	</div>
</div>


</body>
<script>
	
</script>
</html>