<html>
<head>
	<title>Add Marks</title>
</head>
<link rel="stylesheet" type="text/css" href="../.././css/managestudentsnew.css">
<body>
<img src="../.././img/dahome.jpeg" style="border-radius: 48%; margin-right: 85%; margin-top: 5%">
	
	<div class="content" style="margin-top: -10%">
        <div class="info">

         	<h2>Student Result MAnagement System</h2>
         		        </div>
      </div>
<div class="container" id="container">
		<form action="#">
			<br>
			<h1>Manage Students</h1>

			<br>
			<table border="1px" align="center">
        <tr>

          <td> Institute Name </td>
          
          <td> Course Name </td>
          
          <td> Roll No. </td>
          
          <td>Name </td>
          
       
          
          <td>Gender </td>
          
          <td>Edit </td>
          <td>Delete </td>
          <td>View Result</td>
        </tr>
        <% for(var i = 0;i < user.length ; i++) {%>
        <tr>
           
          <td> <strong>DAIICT</strong></td>
          <td><strong> Msc IT</strong></td>
          <td><strong> <%= user[i].rollno %> </strong></td>
          <td><strong><%= user[i].name %></strong></td>
          <td><strong> <%= user[i].gender %></strong></td>
          <td><strong>Male</strong></td>
          <td><button class="btn btn-block btn-primary btn-lg">Edit<i class="fas fa-pencil-alt pr-1"></i></button></td>
          <td><button class="btn btn-block btn-primary btn-lg">View Result</button></td>
         
        </tr>
        <% } %>
    </table>
   
		</form>


	
</div>
<button style="margin-top: 3%"><a style="color: white" href="studenthomenew.html"> Home</a></button>
</body>
<script>
	
</script>
</html>