<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{
  			font-family:sans-serif;
  			background: rgb(191,255,240);
        background: linear-gradient(90deg, rgba(191,255,240,1) 0%, rgba(240,255,194,1) 35%, rgba(255,228,192,1) 100%);
  		}

      td{
        padding:10px;
      }

      input{
        border-radius: 5px;
      }

      button{
  			width: 80px;
  			height:30px;
  			border-radius:10px;
  			background-color: #f0ffc2;
  		}

    </style>
  </head>
  <body background="12.jpg">
    <div id="header">
      <h1 align="center">Add New Student</h1>
    </div>
    <br><br>

    <div id="main">
      <center>
        <form  class="" action="/student/signup" method="post">
          <table>
            <tr>
              <td><label>Name </label></td>
              <td><input type="text" name="name" id="name" placeholder="Enter your name"> </td>
            </tr>

            <tr>
              <td><label>Father's Name </label></td>
              <td><input type="text" name="fname" id="fname" placeholder="Enter your father's name"> <br></td>
            </tr>

            <tr>
              <td><label>Roll Number</label></td>
              <td><input type="number" name="rollno" id="" placeholder="Enter your roll number"> <br></td>
            </tr>

            <tr>
              <td><label>Email</label></td>
              <td><input type="email" name="email" id="email" placeholder="Enter your Emil ID "> <br></td>
            </tr>
            <tr>
              <td><label>Password</label></td>
              <td><input type="password" name="password" id="password" placeholder="Enter your Emil ID "> <br></td>
            </tr>


            <tr>
              <td><label>Gender</label></td>
              <td>
                <input type="radio" name="gender" id="gender" value="male"> Male
                <input type="radio" name="gender" id="gender" value="female"> Female
                <input type="radio" name="gender" id="gender" value="other"> Other
              </td>

            </tr>

            <tr>
              <td><label>Phone number  </label></td>
              <td><input type="number" name="phone" id="phone" placeholder="Enter your phone number"> <br></td>
            </tr>
            <tr>
              <td><label>Select Branch</label></td>
              <td><select id="branch" name="branch">
                 <option selected value="Msc.it" >MSc.IT</option>
                 <option value="btech">B.Tech</option>
                 <option value="mtech">M.Tech</option>
              </select> <br></td>
            </tr>
            <tr>
              <td><label>Select Semester</label></td>
              <td><select name="sem">
                 <option selected value="one" id="sem">I</option>
                 <option value="two" id="sem">II</option>
                 <option value="three" id="sem">III</option>
                 <option value="four" id="sem">IV</option>
                 
              </select> <br></td>


            <tr>
              <td align="center" colspan="2"><button type="submit" >Submit</button></td>
            </tr>
          </table>


        </form>
      </center>
    </div>
  </body>
</html>
