<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home</title>
    <!-- <link rel="stylesheet" href="home_style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
 	</head>
 <link rel="stylesheet" type="text/css" href="../.././css/studenthomenew.css">
 	<body>

    <section>
      <header>
        <% if(message)  { %>
          <script>
                   alert('<%= message %>');
          </script>
        <% } %>
        <h2><script src="https://cdn.lordicon.com/lusqsztk.js"></script>
<img src="../.././img/dahome.jpeg" style="border-radius: 48%"></h2>
        <div class="navigation">
         	<a href="/student/viewmarks">View Result</a>
         	<a href="/student/announcement">Announcements</a>
         	<a href="/student/studentprofile">View Profile</a>
         	<a href="/student/logout">Logout</a>
        </div>
     </header>
      <div class="content">
        <div class="info" style="margin-top: 10%">
          <p>Welcome to </p>
         	<h2>Student Result MAnagement System</h2>
         	
        </div>
      </div>
      <table style="margin-right: 13%; margin-top: 5%" >
        <tr align="center">
          <th>Address</th>
          <th>Contact Number</th>
          <th>Email Address</th>
        </tr>
  
        <tr align="center">
          <td>Reliance Cross Rd, Gandhinagar, Gujarat</td>
          <td>+(91) 8899889988</td>
          <td>DAIICT@gmail.com</td>
        </tr>
      </table>
     
    </section>
  </body>
</html>